html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*left menu*/

.c-hamburger {
    display: block;
    position: absolute;
    right: 0;
    top: 0px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 0;
    box-shadow: none;
    cursor: pointer;
    border: none;

}

.c-hamburger:focus {
    outline: none;
}
.c-hamburger span {
    display: block;
    position: absolute;
    top: 22px;
    left: 10px;
    right: 10px;
    height: 5px;
    background: #ffffff;
}

.c-hamburger span::before, .c-hamburger span::after{
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 5px;
    background: #ffffff;
    content: "";
}

.c-hamburger span::before{
    top: -10px;
}

.c-hamburger span::after{
    bottom: -10px;
}
.c-hamburger-line{
    background: #cb0032 ;
}

.c-hamburger-line span{
    transition: background 0s 0s;
}

.c-hamburger-line span::before, .c-hamburger span::after{
    transition-duration: 0.3s,0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger-line span::before{
    transition-property:  top, tranform;
}

.c-hamburger-line span::after{
    transition-property: bottom, tramsform;
}

.c-hamburger-line.is-active{
    background: green;
}

.c-hamburger-line.is-active span{
    background: none;
}

.c-hamburger-line.is-active span::before{
    top:0;
    transform: rotate(-45deg);
}

.c-hamburger-line.is-active span::after{
    bottom:0;
    transform: rotate(45deg);
}

.c-hamburger-line.is-active span::before, .c-hamburger-line.is-active span::after{
    transition-delay: 0s, 0.3s;
}

#menu{
    width: 300px;
    margin-left: -251px;
    background: #fbf0ff;
    position: fixed;
    left: 0;
    top: 51px;
    bottom: 0;
    transition: all ease 1s;
    z-index: 9999;
}

#main{
    width: 80%;
    /*min-width: 1000px;*/
    margin: 30px auto;
    /*text-align: center;*/
}

.body-active {
    margin-left: 300px;
}
#menu.nav-active {
    margin-left: 0;
}

body {
    transition: all ease 1s;
}

/*left ul menu*/
.ul-menu li{
    list-style-type: none;
}
.ul-menu{
    display: flex;
    flex-direction: column;
}
.ul-menu li{
    /*background: #856404;*/
    /*position: relative;*/
}
.ul-menu a{
    color: #292961;
    text-decoration: none;
    display: block;
}

.ul-menu a:hover{
    background: #008000;
    transition: 0.3s;
    color: white;
}
.ul-menu ul{
    /*position: absolute;*/
    display: none;
}
.ul-menu li:hover > ul{
    display: block;
}

.ul-menu ul ul {
    display: none;
    transition: 0.5s;
}


/*.ul-menu>ul>li:hover{*/
/*    display: inline;*/
/*}*/












    /* start top menu*/
.icon-bar {
    width: 100%;
    background-color: #292961;
    overflow: auto;
    height: 51px;

    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.icon-bar li {
    float: left;
    width: 20%;
    margin-top: 15px;
    color: #ffffff;
    list-style: none;

}
.icon-bar span {
    float: right;
    width: 20%;
    margin-top: 15px;

}

.icon-bar input {
    float: right;
    width: 20%;
    margin-top: 3px;
    margin-right: 20px;

}

.icon-bar a:hover {
    background-color: #000;
}
/* end top menu*/